@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    transition: 2s;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 30rem;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}



button{
    margin-top: 20px;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    display: block;
    font-size: 25px;
    cursor: pointer;
}

